body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-style: normal;
}

/****/
#sell {
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
}

#sell  .text h3 {
    color: rgba(27, 28, 87, 1);
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

#sell  .text p {
    color: rgba(98, 102, 135, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 413px;
}

#sell  .text .bold {
    color: rgba(27, 28, 87, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

#sell .same-thing {
    display: flex;
    align-items: center;
    gap: 53px;
}

#sell .same-thing p {
   color: rgba(60, 69, 99, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

#sell .block {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 32px;
}

#sell hr {
    width: 440px;
    height: 2px;
    flex-shrink: 0;
}

#sell .dianne-contact {
    display: flex;
    align-items: center;
    gap: 56px;
    margin-top: 32px;
}

#sell .dianne {
    display: flex;
    align-items: center;
    gap: 16px;
}

#sell .dianne h6 {
    color: rgba(14, 23, 53, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

#sell .dianne .p {
    color: rgba(136, 139, 151, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

#sell .dianne-contact button{
    display: flex;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;
    background: rgba(16, 185, 129, 1);
    border-radius: 32px;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}

#sell .img-house {
    position: relative;
}

#sell .video {
    position: relative;
    cursor: pointer;
}

#sell .furniture {
    position: absolute;
    bottom: -27px;
    left: -27px;
}

#sell .video .play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
